---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for p in collections.all %}
{%- if not p.data.noindex %}
{%- set isE = "/en/" in p.url %}
{%- set frU = (p.url | replace("/en", "")) if isE else p.url %}
{%- set enU = p.url if isE else ("/en" + p.url) %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <xhtml:link rel="alternate" hreflang="fr" href="{{ site.url }}{{ frU }}"/>
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}{{ enU }}"/>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ frU }}"/>
    <lastmod>{{ p.date | isoDate }}</lastmod>
    <changefreq>{% if p.url == "/" %}daily{% else %}weekly{% endif %}</changefreq>
    <priority>{% if p.url == "/" %}1.0{% elif p.url == "/projets/" %}0.9{% else %}0.7{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
