---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all %}
{%- if not p.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <lastmod>{{ p.date | isoDate }}</lastmod>
    <changefreq>{% if p.url == "/" %}daily{% else %}weekly{% endif %}</changefreq>
    <priority>{% if p.url == "/" %}1.0{% elif p.url == "/projets/" %}0.9{% else %}0.7{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
